@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #29C6C1;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  background: #0B131A;
}

h1 {
  text-transform: uppercase;
}

h1>span {
  color: #F6AE46;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0 30px;
}

#current-player-info {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-height: 100px;
  height: 100px;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 80px;
  max-width: 100px;
  max-height: 100px;
  width: 30%;
  background: #29C6C1;
  color: #0B131A;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px rgb(255, 255, 255);
}

.x-class {
  color: #29C6C1;
}

.o-class {
  color: #F6AE46;
}

.no-empty-box {
  background: #1b2832;
  cursor: not-allowed;
}

.over-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.over-message-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: #1f343f;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 36px;
  text-transform: uppercase;
}

#message > span {
  font-size: 50px;
}

.button-3d {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #bebebe;
  color: #2f2f2f;
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px #737576;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button-3d i {
  color: #2f2f2f;
}

.button-3d:hover {
  transform: translateY(2px);
  background-color: #e9e9e9;
  box-shadow: 0px 1px 0px 0px #0B131A;;
}

.button-3d:active {
  transform: translateY(4px);
  box-shadow: none;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
}

footer a {
  color: #e9e9e9;
  text-decoration: none;
}